.idea/*
.last_backup
/vendor/
/bin/.env
/config/.env*
deploy.conf

/var/session.madeline/*
/docker/app/session.madeline.docker/*
/bin/session.madeline/*
/bin/squash-history.sh
/bin/sync.lock
/shared/*
!/shared/.*
/var/tts_models*

MadelineProto.log
/var/logs/*.log
/var/logs/*.log.*
/bin/MadelineProto.log
*.log

test-vk-items.json
storage.json
storage.v*.json
/var/storage.v*.json
old_new_storage.json
new_storage.json