.idea/*
/vendor/
/bin/.env
/session.madeline/*
/bin/session.madeline/*
/bin/MadelineProto.log
/bin/squash-history.sh
/bin/sync.lock
/shared/*
!/shared/.*
/tts_models*
MadelineProto.log
/logs/*
*.log
deploy.conf
test-vk-items.json
storage.json
storage.v*.json
old_new_storage.json
new_storage.json
reference.wav